.Header{
    height: 100px;
    width: 1000px;
    border-color: black;
    border-style: solid;
    border-width: 10px;
    box-shadow: 20px 15px 10px rgb(1, 2, 3,0.2);
    border-radius: 25px;
    background-color: black;
    color: white;
}

ul {
    display: flex;            /* Coloca os itens um ao lado do outro */
    list-style: none;         /* Remove as bolinhas (bullets) */
    padding: 0;               /* Remove o espaço interno padrão da lista */
    margin: 0;                /* Remove margens padrão */
    gap: 80px;                /* Cria o espaço entre as palavras */
    justify-content: left;  /* Centraliza os itens no meio do quadrado */
}

.menu_dois{
    height: 125px;
    width: 1000px;
    border-color: black;
    border-style: solid;
    border-width: 10px;
    box-shadow: 20px 15px 10px rgb(1, 2, 3,0.2);
    border-radius: 25px;
    color: black;
}