
.cartao {
    background-color: #f0f2f5;
    font-family: 'Poppins', sans-serif; 
}




img{
    height: 150px; 
    width: 160px;
    opacity: 0.7;
    border-radius: 24px;
    border-color: red;
    border-style: solid;
    border-width: 10px;
    box-shadow: 20px 15px 10px rgb(1, 2, 3,0.2);


}


.principal{
    height: 600px;
    width: 400px;
    border-color: blue;
    border-style: solid;
    border-width: 10px;
    box-shadow: 20px 15px 10px rgb(1, 2, 3,0.2);
    border-radius: 25px;

}